# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-workspace': [
    { 'label': 'JSON pretty print', 'command': 'jsonpp:jsonpp' }
    { 'label': 'JSON compact', 'command': 'jsonpp:compact' }
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'jsonpp'
      'submenu': [
        { 'label': 'JSON pretty print (jsonpp)', 'command': 'jsonpp:jsonpp' }
        { 'label': 'JSON compact', 'command': 'jsonpp:compact' }
      ]
    ]
  }
]
