# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'JSON pretty print': 'jsonpp:jsonpp'
      'JSON compact': 'jsonpp:compact'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'jsonpp'
      'submenu': [
        { 'label': 'JSON pretty print (jsonpp)', 'command': 'jsonpp:jsonpp' }
        { 'label': 'JSON compact', 'command': 'jsonpp:compact' }
      ]
    ]
  }
]
